.App {
  text-align: center;
}

.suggestionMessageDiv{
    padding: 20px;
    padding-left: 50px;
}

.suggestionButtonDivStyles{
  display:flex;
  padding:50px;
}

.suggestionButtonStyles{
  padding-left:200px;
}

.homepageMainDiv{
  background-image: "../assets/img/background.jpg" !important;
}

.contentDiv{
  background: rgb(12 11 23 / 38%);
  position: absolute;
  padding: 100px;
  margin: 0;
  top: 20%;
  left: 25%;
  max-height: fit-content;
  width: 500px;
}

.textStyle{
  color:white;
  font-family: "Copperplate";
}

.takeTestDiv{
  padding-top:5%;
  text-align: center;
}

.optionsDiv{
  padding:20px;
}

.questionDiv{
  padding:40px;
}

.quizDiv{
  height:500px;
}

.suggestionCardDiv{
  width: fit-content;
  margin: 0 !important;
  float: left;
  padding: 50px;
}

.suggestionDiv{
  /* flex-direction: row; */
  width:100%;
  display: flex;
  flex-wrap: wrap;
    width: fit-content;
    height: 100%;
}

.paginatorDiv{
  padding-left:40%;
  padding-top:10px;
}

.loginStyles{
  background-color:#0d0b33;
  height: 740px;
}

.cardStyleLogin{
  display: block;
    margin: auto !important;
    padding-top: 10%;
    border-left: 100px;
    /* margin-left: auto; */
    padding-left: 220px !important;
    width: 700px;
}

.cardStyle{
  display: block;
    margin: auto !important;
    padding-top: 5px;
    border-left: 100px;
    /* margin-left: auto; */
    padding-left: 220px !important;
    width: 700px;
    /* margin-left: 0 !important; */
    /* padding-left: 100px; */
}
.piechart{
  display: block;
  margin: auto !important;
  padding-top: 0px;
  border-left: 10px;
  padding-left: 0;
  /* margin-left: auto; */
  padding-left: 500px !important;
}

.table{
  display: block;
  margin: auto !important;
  padding-top: 50px;
  padding-bottom: 50px;
  border-left: 70px;
  /* margin-left: auto; */
  padding-left: 50px !important;
  padding-right: 50px !important;
  
}

.usernameInput{
  padding-top: 20px;
  padding-bottom: 50px;
}

.paginator{
  justify-content: "center";
  padding: "10px";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
